
<h1> Single user Interface </h1>

<div class="users-info">
  <div class="text-secondary h4">user Title: <span class="text-dark"><%= @user.title %></span></div>
  <div class="text-secondary h4">user Description: <span class="text-dark"><%= @user.name %></span></div>
</div>





