<h1>Single Project Interface</h1>

<div>
  <div class="text-secondary h4">Project Title: <span class="text-dark"><%= @project.title %></span></div>
  <div class="text-secondary h4">Project Description: <span class="text-dark"><%= @project.description %></span></div>
</div>
