// * {
//   outline: 1px solid black;
// }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 1rem 3rem;
}

nav {
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-links,
  .nav-auths {
    display: flex;
    list-style-type: none;
    color: white;
    font-size: 1.2rem;
    padding: 0 1rem;

    a {
      color: white;
      text-decoration: none;
      padding: 1rem;
    }
  }
}

.form {
  font-size: 1rem;
  padding:1rem;

  .form-input {
    display: flex;
    margin: 0.8rem;

    label {
      width: 5rem;
      margin-right: 0.8rem;
    }
  }

  .form-submit {
    list-style-type: none;
    margin-top: 2rem;

    input {
      text-decoration: none;
      color: white;
      background-color: rgb(49, 0, 104);
      border: none;
      padding: 0.6rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}

.projects-info {
  margin: 2rem;
}

.container {
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgb(233, 233, 233);
  list-style-type: none;
}

.button {
  display: inline-block;
  padding: 0.6rem 1rem;
  margin: 1rem 0 0.2rem 0;
  background-color: rgb(49, 0, 104);
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;

  a {
    text-decoration: none;
    color: white;
  }
}
